.home-card{
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 100%;
}


.avatar-img {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  margin-right: 1rem;
}

.card-body {
  position: relative;
}
.card-text{
 margin: 0;
}

.card-img-top {
 margin-top: .7rem;
  width: 100%;
  height: auto;
}

.card-title{
 font-size: 15px;
 font-weight: 500;
 margin: 0;
 margin-top: .5rem;
}

@media screen and (max-width: 530px){
 .card-user-subcriber{
   font-size: 8px !important;
}
.card-user-name{

 font-size: 11px !important;
}
.card-title{
 font-size: 12px;
}
.card-text{
 font-size: 11px !important;
}
.card-text-button{
 font-size: 11px !important;
 padding: 3px !important;


}
.creator-item-img {
 width: 30px !important;
 height: 30px !important;
}
.creator-list {

 gap: 3px !important;
}

}

@media (max-width: 768px) {
 .card-user-name{

    font-size: 13px;
 }
 .home-card{
    padding: 0 1.1rem !important
 }
 .card-user-subcriber{
    font-size: 11px;
 }
 .card-text{
    font-size: 13px;
    margin: 0;
  }
 .card-text-button{
    font-size: 13px;
    padding: 5px;


 }
 .creator-item-content {
  font-size: 13px;
 }
 .creator-item-img {
   width: 50px !important;
   height: 50px !important;
 }
 .creator-item {

   margin: 0px !important;
}
.creator-list {

 gap: 5px;
}
.creator-item-content .sub{
  font-size: 11px;

}


  
.avatar-img {
 width: 32px; /* Adjust size as needed */
 height: 32px; /* Adjust size as needed */
 border-radius: 50%;
 margin-right: .6rem;
}

}

.creator-list-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.creator-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 10px; /* Add space between items */
}

.creator-item {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 10px;
 cursor: pointer;


}

.creator-item-content {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.creator-item-img {
 border-radius: 50%;
 width: 100px;
 height: 100px;
}