@keyframes textAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* .mainimage{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
} */



.cards {
    position: relative;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    border: 0 solid transparent;
    background-clip:border-box;
    box-shadow: 0 px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 0;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);


}


.cards:hover {
    transform: scale(1.05);
}
.card:hover {
    transform: scale(1.05);
}

 .cont {
        margin-bottom: 20px;
    }

  

@media (max-width: 768px) {

    .news-container ul {
        animation: scroll 15s infinite linear;
    }

    /* .cont {
        padding-bottom: 30px;
    } */
    .news-container .title {
        padding: 0 10px !important;
        font-size: 14px !important;
    }
    .home-text{
        font-size: large;
    }
    .home-text2{
        font-size: small;
    }
    .mainimage{
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
}

.news-container ul li {
    padding: 7px 11px !important;
    height: 30% !important;
    font-size: 12px !important;

  
}


    




}

@media (min-width: 767px) {
    .cont {
        padding: 0 50px 42px;

    }
   
}

.news-container {
    position: relative;
    margin-top: 3%;

    overflow: hidden;
    background-color: white;

    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);


}

.news-container .title {
    position: absolute;
    background: #0099ff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;

    font-weight: bold;
    z-index: 200;
}

.news-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
    padding: 0;

}

.news-container ul li {
    white-space: nowrap;
    padding: 10px 18px;
    color: black;
    position: relative;
    margin: 0;
}

.news-container ul li::after {
    content: "";
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;

}

.news-container ul li:last-child::after {
    display: none;
}

.blink {
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }

}









.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    /* Adjusted min-width to fit 4 cards */

    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    /* margin-top: 3rem; */
}
@media (max-width: 768px) {
    .box-container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        /* Adjusted min-width to fit 4 cards */
    
        gap: 1rem !important;
   
    }
}



@media (max-width: 600px) {
    .box-container {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem !important;
   
    }
    .section {
        padding: 0 1.5rem  !important
    }
    .homeicons {
        font-size: 3rem !important;
    
    }
    .cardtext{
        font-size: 90%
    }
    .box-container .box {
        border-radius: .5rem;
        /* background-color: rgb(242, 242, 242); */
        padding: 1rem !important;
        display: flex;
        align-items: center !important;
        gap: .6rem;
    }
}

.box-container .box {
    border-radius: .5rem;
    /* background-color: rgb(242, 242, 242); */
    padding: 1rem !important;
    display: flex;
    align-items: center !important;
    gap: 1rem;
}

@media (max-width: 388px) {
    .box-container {
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        gap: 1rem !important;
   
    }
}

.icon {
    font-size: 5rem;
    color: #0099ff;

}

.homeicons {
    font-size: 5rem;
    color: #0099ff;

}

.section {
    padding: 0 3rem;
    margin: 0 auto;
    max-width: 100%;
}

.landingbody {
    background-color: #eee;
}

