.navbar {
    overflow: hidden; /* Hide any overflowing content */
    /* background-color: #2e2748;
     */
     background-color: #0099ff;
     /* background-image: url('../../assets/loginSignupImage.png');  */
   /* background-size: cover; */
  }

  .logo-image {
    width: 70px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0px; /* Adjust margin as needed */
  }

  /* .navbar-brand {
  display: flex;
  align-items: flex-end;
} */